<?xml version="1.0" encoding="UTF-8"?>
<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" bootstrap="vendor/autoload.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory>*</directory>
    </include>
    <exclude>
      <directory>Assets</directory>
      <directory>Config</directory>
      <directory>Tests</directory>
      <directory>Translations</directory>
      <directory>Views</directory>
      <directory>vendor</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="unit">
      <directory>Tests/Unit</directory>
    </testsuite>
    <testsuite name="all">
      <directory>Tests/Unit</directory>
    </testsuite>
  </testsuites>
</phpunit>
